body {
    background-clip: url("galaxybkrnd.mp4") no-repeat center cover fixed;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    background-color: rgb(238, 246, 245); 
}

h1 {
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}